.blog {
	width: 386px;
}

.blog__title {
	margin-top: 8px;
	margin-bottom: 37px;
	font-family: Montserrat, arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
}

.blog__list {
	padding: 0;
	list-style: none;
}

.blog__item{
	margin-bottom: 28px;
}

.blog__link {
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
}

.blog__image-wrap {
	width: 120px;
	margin-right: 20px;
}

.blog__description {
	width: 200px;
	margin-top: 17px;
	margin-bottom: 5px;
	font-family: Montserrat, arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
}

.blog__date {
	display: block;
	font-family: Roboto, arial, sans-serif;
	font-size: 13px;
	line-height: 1.85;
	font-weight: 300;
	font-style: italic;
	text-transform: none;
	color: #999999;
}