.feauture {
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feauture__image {
	position: relative;
	width: 100%;
}

.feauture__image-big {
	margin-top: 5px;
	margin-left: 335px;
	width: 476px;
}

.feauture__image-big img{
	width: 100%;
	height: auto;
}

.feauture__image--little {
	position: absolute;
	top: 202px;
	left: 697px;
	width: 275px;
}

.feauture__image--little img{
	width: 100%;
	height: auto;
}