.gallery-about-us {
	margin-bottom: 105px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.gallery-about-us__item {
	position: relative;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 380px;
	height: 250px;
	background-color: #95e1d3;
}

.gallery-about-us__image-wrap {
	position: absolute;
	z-index: 1;
	width: 380px;
	height: 250px;
}

.gallery-about-us__image-wrap img {
	width: 100%;
	height: auto;
}

.gallery-about-us__image-wrap:hover {
	transform: translate(-10px, -10px);
	background-color: inherit;
}

.gallery-about-us__image-wrap:hover::after {
	position: absolute;
	z-index: 1;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(243, 129, 129, 0.9), 
		rgba(252, 227, 138, 0.9));
}

.gallery-about-us__link {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: Montserrat, arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	align-items: center;
	z-index: 2;
	opacity: 0;
}

.gallery-about-us__link:hover {
	opacity: 1;
}

.gallery-about-us__link::before {
	position: absolute;
	top: 35%;
	content: '';
	width: 31px;
	height: 22px;
	background-image: url('../../img/users.png');
}