.gallery-our-team {
	margin-bottom: 113px;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.gallery-our-team__image-wrap {
	position: relative;
	width: 380px;
	margin-bottom: 30px;
	background-color: #95e1d3;
}

.gallery-our-team__image-wrap:hover::after {
	content: '';
	position: absolute;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(-10px, -10px);
	background-image: linear-gradient(rgba(243, 129, 129, 0.9), 
		rgba(252, 227, 138, 0.9));
}

.gallery-our-team__img {
	width: 100%;
	height: auto;
}

.gallery-our-team__image-wrap:hover .gallery-our-team__img {
	transform: translate(-10px, -10px);
	background-color: inherit;
}

.gallery-our-team__links {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: Montserrat, arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	align-items: center;
	z-index: 3;
	opacity: 0;
}

.gallery-our-team__links:hover {
	opacity: 1;
}

.gallery-our-team__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	background-color: #fce38a;
	border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.gallery-our-team__link:last-child {
	border: none;
}

.gallery-our-team__link:hover {
	background-color: #f38181;
}

.gallery-our-team__social {
	fill: #f38181;
}

.gallery-our-team__link:hover .gallery-our-team__social {
	fill: #ffffff;
}

.gallery-our-team__name {
	margin-bottom: 8px;
	font-family: Montserrat, arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
}

.gallery-our-team__function {
	font-family: Roboto, arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.6;
	text-align: center;
	color: #999999;
}