.header {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 480px) {
	.header__container {
		width: 100%;
		padding: 10px 20px;
		background-color: rgba(243, 129, 129, 0.9);
	}
}

@media screen and (min-width: 480px) {
	.header__container {
		width: 100%;
		padding: 10px 20px;
		background-color: rgba(243, 129, 129, 0.5);
	}
}

@media screen and (min-width: 1210px) {
	.header__container {
		width: 1200px;
	}
}