.service-2 {
	width: 1200px;
	margin-bottom: 110px;
}

.service-2__accordion {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.service-2__image {
	width: 570px;
	height: 380px;
}

